<!DOCTYPE html>
<html>
<head>
	<title>ChecklistAjax2</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<link href="https://fonts.googleapis.com/css?family=Merienda+One|Quattrocento+Sans" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row header">
			<div class="col-xs-4">
				<h1>
					<%= image_tag('list.png') %>
					CheckList
				</h1>
			</div>
			<div class="col-xs-8" id="new-task-wrapper">
				<%= render 'tasks/new' %>
			</div>
		</div>
		<%= yield %>
	</div>
	<%= javascript_include_tag 'application' %>
</body>
</html>
